/////////// colors ////////// 

$primary: #4582ec;
$blue: #04a4b9;

$grey: #F6F6F6;
$black: #0F2B3F;
$light-grey: lighten($black, 40);

.bg-light-primary {
  background-color: #4582ec15; }
.bg-light-success {
  background-color: #02b87515;}
.bg-light-info {
  background-color: #17a2b815; }
.bg-light-warning {
  background-color: #f0ad4e15; }
.bg-light-danger {
  background-color: #d9534f15; }
/////////// device width and screensize ////////////////
  // Extra small screen / phone
  $xs: 0;
  // Small screen / phone
  $sm: 576px;
  // Medium screen / tablet
  $md: 768px;
  // Large screen / desktop
  $lg: 992px;
  // Extra large screen / wide desktop
  $xl: 1200px;

/////////// mixins ////////// 
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mediaq($xy) {
   @media only screen and (max-width: $xy){
       @content;
   }
}


////////////// keyframe animations //// 
@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
